.footer {
  padding: 0 70px 44px 70px;

  &__social-list {
    display: grid;
    grid-template: min-content / repeat(4, 1fr);
    justify-items: center;
    margin-bottom: 26px;
  }

  &__social-item {
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__social-link {
    font-size: 30px;
    color: inherit;
    transition: all 0.3s ease 0s;

    @media (min-width: $desktop-width + px) {

      &:hover {
        color: #ff6464;
      }
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 22 / 14 * 100%;
    text-align: center;
  }
}
