.works {
  display: flex;
  overflow: auto;

  @media (min-width: $tablet-width + px) {
    display: block;
  }

  &__item-li {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $max-mobile-width + px) {
      display: flex;
      flex: 0 0 90%;
      margin-right: 20px;
    }
  }

  &__item {
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;

    @media (min-width: $tablet-width + px) {
      display: flex;
    }
  }

  &__image {
    display: block;
    flex: 0 0 246px;
    min-height: 180px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 17px;

    @media (max-width: $max-mobile-width + px) {
      padding: 0 0 68% 0;
    }

    @media (min-width: $tablet-width + px) {
      margin-bottom: 0;
    }
  }

  &__body {
    @media (min-width: $tablet-width + px) {
      flex: 1 1 auto;
      padding-left: 18px;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30 / 24 * 100%;
    margin-bottom: 13px;


    @media (min-width: $tablet-width + px) {
      font-size: 30px;
      line-height: 44 / 30 * 100%;
    }
  }

  &__info {
    align-items: center;
    margin-bottom: 20px;
  }

  &__year {
    display: inline-flex;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 60 / 18 * 100%;
    color: $white;
    background-color: #142850;
    border-radius: 16px;
    padding: 10px;
    margin-right: 3%;
  }

  &__category {
    font-size: 20px;
    line-height: 29 / 20 * 100%;
    color: #8695a4;
  }

  &__text {
    margin-top: auto;
  }
}
